 
.section1 {
    margin-top: 10px;
    text-align: center;
}
 hr.line {
    
    width: 10rem;
    border: 1px solid yellow;
}

.para {
 text-align: center;
}


/* .para p {
    width: 70%;
} */

@media only screen and (max-width: 900px) { 

    .section1 h1 {
        font-size: 1.7rem;
    }
    .about-image {
        margin-top: 2rem;
    }
    .para {
        
        margin-right: 1.8rem;
        text-align: center;
        padding-left: 1.3rem;
        padding-right: 1.3rem;
    }

}