.secondcardmain {
    /* border: 2px solid black; */
    margin-top: 4rem;
    padding-left: 17rem;
    padding-right: 14rem;
}



@media only screen and (max-width: 900px) { 

    .secondcardmain{
        padding-left: 0rem;
    padding-right: 0rem;
    margin-top: 1rem;
    margin-left: 1rem;
    


    }
}